.app-form {
  .form-group {
    & {
      display: block;
      background-color: #FFF;
      border-bottom: 2px solid #e3e3e3;
      padding: 20px 15px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .control-label {
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 30px;
      vertical-align: middle;
    }
    .form-control {
      background-color: #FBFBFB;
      height: 30px;
      line-height: 30px;
      // line-height: 2/0px;
    }
  }
}
